### Verification

![](https://i.pinimg.com/564x/af/b9/c0/afb9c0231f7608b4c6fd01040e092083.jpg)

Each `DONE` challenge will need to be submitted to HP Vault.

You will be notified about the success of such request but it will have to be verified by HP Vault guardians.

**ALL FAKE REQUESTS WILL BE DESTROYED**
